<h1>Listing admin_pages</h1>

<table>
  <tr>
    <th>Page</th>
    <th>Main</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_pages.each do |admin_page| %>
  <tr>
    <td><%= admin_page.page %></td>
    <td><%= admin_page.main %></td>
    <td><%= link_to 'Show', admin_page %></td>
    <td><%= link_to 'Edit', edit_admin_page_path(admin_page) %></td>
    <td><%= link_to 'Destroy', admin_page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_admin_page_path %>
