<div class="item">
  <div class="info">
    <%= notice %>
    <h1><strong>Название:</strong><%= @article.name %></h1>
    <ul>
      <li><strong>Материал:</strong><%= @article.material %></li>
      <li><strong>Цена:</strong><%= @article.price %> p.</li>
      <li></li>
      <li><%= link_to 'Добавить товар в корзину', order_path(@article.id) %></li>
    </ul>
    <div class="picture">
      <a href="#pic">
        <%= image_tag @article.little_pic %>
      </a>
    </div>
  </div>
  <div id="pic" style="display: none; z-index: 1200;">
    <%= image_tag @article.little_pic, :size => "640x480"%>
  </div>
  <div class="desc">
    <h2>Описание:</h2>
    <div class="flexcroll" id="mycustomscroll_product">
      <%= @article.description %>
    </div>
  </div>
  <% if logged_in? %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  <% end %>
</div>
