<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>

<p>
  <b>Little pic:</b>
  <%= @article.little_pic %>
</p>

<p>
  <b>More pics:</b>
  <%= @article.more_pics %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category %>
</p>

<p>
  <b>Price:</b>
  <%= @article.price %>
</p>

<p>
  <b>Existence:</b>
  <%= @article.existence %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
