<h1>Listing information</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= will_paginate @information %>
<% @information.each do |information| %>
  <tr>
    <td><%= link_to information.name, information %></td>
  </tr>
  <tr>
    <td><%= information.short %></td>
  </tr>
<% if logged_in? -%>
  <tr>
    <td><%= link_to 'Edit', edit_information_path(information) %></td>
    <td><%= link_to 'Destroy', information, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>
  <%= will_paginate @information %>

<br />

<% if logged_in? -%>
  <%= link_to 'New Information', new_information_path %>
<% end %>
