<h1>О талисманах</h1>
<%= will_paginate @information, :class => 'pagination' %>
<% @information.each do |information| %>
    <%= content_tag :p, link_to(information.name, information), :class => "title"%>
    <%= content_tag :p, information.short %>
<% if logged_in? -%>
    <%= link_to 'Edit', edit_information_path(information) %>
    <%= link_to 'Destroy', information, :confirm => 'Are you sure?', :method => :delete %>
<% end %>
<% end %>
<%= will_paginate @information, :class => 'pagination' %>

<br />

<% if logged_in? -%>
  <%= link_to 'New Information', new_information_path %>
<% end %>
