<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @information.name %>
</p>

<p>
  <b>Content:</b>
  <%= @information.content %>
</p>


<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
