<h1>О талисманах</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @information.name %>
</p>

<p>
  <b>Content:</b>
    <%= raw sanitize RedCloth.new(@information.content).to_html %>
</p>


<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
