<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label '* Ваш email:' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label '* Ваши ФИО (Иванов Иван Иванович):' %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label '* Ваш полный адрес' %><br />
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
