<%= form_for(@order, :validate => true) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label '* Ваш email:' %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label '* Ваше имя:' %><br />
    <%= f.text_field :firstname %><br />
    <%= f.label '* Ваша фамилия:' %><br />
    <%= f.text_field :lastname %><br />
    <%= f.label '* Ваше отчество:' %><br />
    <%= f.text_field :fathername %><br />
  </div>
  <div class="field">
    <%= f.label '* Ваша страна:' %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label '* Ваш почтовый индекс:' %><br />
    <%= f.text_field :index %>
  </div>
  <div class="field">
    <%= f.label '* Ваш адрес:' %><br />
    <%= f.text_area :address, :size => "100x3" %>
  </div>
  <div class="field">
    <%= f.label 'Ваш телефон:' %><br />
    <%= f.text_field :phone %>
  </div>
  <span>Ваш заказ на сумму: <%= @order_sum %>р.</span>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
