<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Картинка с названием" %><br />
    <%= image_tag(@category.name_pic_url) if @category.name_pic? %>
    <%= f.file_field :name_pic %>
    <%= f.hidden_field :name_pic_cache %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
