<h1><%= @category.name %></h1>
<%= paginate @articles %>

<% @articles.each do |a|%>
<div class="items">
  <div class="item-field">
    <div class="item-pic"><%= image_tag(a.little_pic_url) %><span class="frame"><%= link_to nil, a, :class => "item-link" %></span></div>
    <div class="item-desc">
      <p><strong><%= link_to a.name, a %></strong></p>
      <p><%= a.short_description %></p>
    </div>
  </div>
</div>
<% end %>

<%= paginate @articles %>

<% if logged_in? %>
<%= link_to 'Новый товар', new_article_path %>
<% end %>
