<!DOCTYPE html>
<html>
<head>
  <title>Obereg</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header"></div>
  <div id="menu">
    <script>
      $(document).ready(function() {
        $('#categories').hover(
        function(){
          $('#popup-categories').show();
        },
        function(){
          $('#popup-categories').hide();
        }
        );
      });
    </script>

    <%= link_to 'Новости', nil %> || <%= link_to 'Информация', nil %> || 
    <div id="categories">Товары</div>
    <div id="popup-categories"  style="display: none; height: auto;">
      <% @categories.each do |cat| %>
        <%= link_to cat.name, cat %><br>
      <% end %>
    </div>
        || <%= link_to 'Контакты', nil %> || <%= link_to 'Вопросы', nil %>
  </div>
  <div id="content">
<%= yield %>
</div>
</body>
</html>
