<!DOCTYPE html>
<html>
<head>
  <title>Obereg</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="header"></div>
  <div id="menu">
    <%= link_to 'Новости', nil %> || <%= link_to 'Информация', nil %> || <%= link_to 'Товар', nil %> || <%= link_to 'Контакты', nil %> || <%= link_to 'Вопросы', nil %>
  </div>
  <div id="content">
<%= yield %>
</div>
</body>
</html>
